{
  "openapi": "3.0.3",
  "info": {
    "title": "Scorpion API",
    "version": "2.0.0",
    "description": "Documentation for the Scorpion API"
  },
  "servers": [
    {
      "url": "https://scorpion.bi.denbi.de",
      "description": "Production"
    },
    {
      "url": "http://localhost:5173",
      "description": "Development"
    }
  ],
  "paths": {
    "/denbi/api/users": {
      "get": {
        "summary": "Get all users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "required": [
          "id",
          "email"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique user identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "name": {
            "type": "string",
            "description": "User full name"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp"
          }
        }
      }
    }
  }
}